doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title AI Works
        meta(name="description" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.header
            .header__inner.content-wrapper
                img.header__logo(src="assets/img/logo.svg" alt="Логотип")
                .header__auth
                    button.header__login.button.button--clear.text.text--m(type="button") Войти<span>&nbsp;в аккаунт</span>
                    button.header__signup.button.button--blue.text.text--m(type="button") Зарегистрироваться
        main.main
            //- экран "Напиши курсовую с нейросетью за 5 минут"
            //- section.hero.hero-work
            //-     .hero__inner.content-wrapper
            //-         h1.hero__heading.heading.heading--l Напиши курсовую <br> с&nbsp;нейросетью <mark>за&nbsp;5&nbsp;минут</mark>
            //-         p.hero__text.text.text--l Генерируй содержание, получай готовую работу и&nbsp;редактируй онлайн!
            section.hero.hero-task
                .hero__inner.content-wrapper
                    h1.hero__heading.heading.heading--l Решай задачи <br> с&nbsp;нейросетью <mark>за&nbsp;5&nbsp;минут</mark>
                    p.hero__text.text.text--l Трудное задание? Просто загрузи фото или пропиши задание текстом и&nbsp;получи ответ!

                    .hero-task__content
                        .hero-task__query
                            label.hero-task__query-label.text.text--m(for="query-input") Твоя задача
                            form.hero-task__form(action="#" method="post")
                                .hero-task__form-box
                                    textarea.hero-task__textarea.text.text--m.text--light(id="query-input" name="query" placeholder="Напиши подробно задачу")
                                    label.hero-task__file-label.hero-task__file-label--mobile.text.text--m(for="file") 
                                        img(src="assets/img/file-img.svg" role="presentation")    
                                        span Или загрузи фото
                                    label.hero-task__file-label.hero-task__file-label--desktop
                                        img(src="assets/img/file-img.svg" role="presentation") 
                                        span.text.text--m.text--light Перетащи файл&nbsp;<label class="text text--m" for="file">или загрузи с компьютера</label>
                                    input.hero-task__file-input.visually-hidden(type="file" id="file" name="file")
                                button.hero-task__button.button.button--blue(type="button") Решить задачу
                            .hero-task__counter.text.text--m
                                | У тебя&nbsp;<span data-js="attempts">8</span>&nbsp;генераций
                                .hero-task__tooltip.tooltip
                                    img(src="assets/img/question.svg")
                                    span Тут будет какая-то подсказка
                        .hero-task__result
                            .hero-task__preview-text.text.text--m(data-js="previewText") Решение задачи будет здесь
                            //- .hero-task__result-text(data-js="renderedResult") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum eligendi recusandae, voluptates, pariatur repellendus sed reprehenderit nemo quisquam ad adipisci ipsam saepe nulla ducimus delectus dolor dicta amet sapiente atque magni cumque! Maxime architecto aut nesciunt perspiciatis repudiandae nam suscipit? Delectus voluptas, earum sint libero perferendis dolores inventore molestiae exercitationem iure maiores nam cumque quia molestias aspernatur quisquam saepe repellat ullam consequatur? Veniam quisquam possimus itaque quae laborum hic, adipisci, ipsum eum, consequuntur maiores deleniti repellendus dicta voluptatibus! Laudantium iste et minima enim laborum, sit id eligendi temporibus! Corporis, ipsum dolore sit tenetur dolorem quam ex laudantium assumenda fugit voluptatem cumque facere tempore delectus accusamus iure magni porro amet dolores rem ratione eaque. Dicta obcaecati, quia rem, beatae distinctio velit neque earum nemo tenetur aliquam cumque est eos quasi vel adipisci ipsum culpa assumenda reprehenderit! Aliquam optio dolores rem repellat ullam itaque eum eaque eius odit quia, minima porro doloribus. Culpa sequi nihil quam quisquam molestiae eaque voluptates. Quas explicabo recusandae sunt possimus quidem pariatur tenetur excepturi amet veritatis facere tempora et hic repellendus temporibus, vitae, tempore consequatur. Illum, eaque. Perspiciatis a quod similique praesentium placeat facere quia dolorum eum fugit iste? Aliquid enim iure deleniti autem tempora fugit, hic, modi nisi culpa tenetur dolore, doloribus laboriosam commodi sint reiciendis dolor ducimus consequatur cupiditate! Quisquam officiis inventore mollitia reiciendis est vitae aperiam doloremque perferendis explicabo dicta quam assumenda saepe, perspiciatis vel tempore debitis libero consequatur quod rem consequuntur nostrum fugiat minus illum iure. Fugit corrupti placeat esse ut beatae perspiciatis iure est provident. Alias eos accusamus veritatis perspiciatis vel excepturi fugiat reprehenderit, adipisci, assumenda, itaque iusto. Iure quos, porro, voluptates adipisci deserunt nemo sint excepturi eius obcaecati soluta quo distinctio maxime. Non porro voluptas quia, dignissimos, quae molestias sequi, mollitia quam vero dolores illum. Eum molestias et ratione! Eius sed perferendis mollitia animi inventore voluptatum? Dignissimos, ducimus perspiciatis. Nisi atque, velit inventore assumenda tempora, nulla dolore maiores vero quae animi eum ipsam iusto ipsa minima consequatur expedita alias! Eum dolores debitis, doloribus id fugit nobis qui harum labore sequi laborum tempora. Fugit qui possimus, eius explicabo illo culpa ratione, officiis dolorum sunt veniam quas neque ducimus cum libero saepe voluptas modi recusandae impedit dolorem tempore quibusdam officia? Ex doloremque debitis, totam placeat deleniti fuga animi libero expedita, tempora dolorem omnis ipsam laudantium molestiae! Hic quae quo soluta aperiam exercitationem ratione quam corrupti! Vitae cupiditate facere ipsam minus nulla voluptatibus excepturi rerum! Sequi expedita recusandae aliquid natus, repellendus error. Consequatur ipsa nostrum culpa qui libero, consectetur at maxime fugiat dolore aspernatur cumque soluta. Fugit veniam harum eos quibusdam pariatur id exercitationem impedit. Veniam velit iure repellendus blanditiis sapiente cumque. Repellendus iure vero unde illo ducimus dolores sit reprehenderit maiores ex, numquam incidunt commodi sunt eveniet, inventore praesentium perferendis! Accusamus dolor delectus nisi nam quo illum accusantium itaque tempora unde dignissimos vitae quidem commodi ab optio, nemo cumque aperiam quisquam aut numquam eius. Ut, maiores omnis nihil eaque expedita nemo? Necessitatibus quo earum omnis quae nostrum reprehenderit adipisci facere iste aperiam.
                            //- .loader-box(data-js="loader")
                            //-     .loader-box__loader
                            //-     p.loader-box__heading.text.text--m.text--bold Нейросеть решает твою задачу
                            //-     p.loader-box__text.text.text--m Это займет всего пару минут
                            //- .paywall.paywall--task(data-js="paywall")
                            //-     p.text.text--m Авторизуйся и&nbsp;оплати подписку, чтобы получить решение
                            //-     button.paywall__button.button.button--blue(data-js="openLogin") Авторизоваться<span>&nbsp;и&nbsp;оплатить</span>

            section.steps
                .steps__inner.content-wrapper
                    h2.steps__heading.heading.heading--m Написание курсовой&nbsp;&mdash; это просто!
                    ul.steps__list(role="list") 
                        li.steps__item
                            img(src="assets/img/step-1.png" role="presentation")
                            p.text.text--xl Напиши тему работы и нажми «Сгенерировать»
                        li.steps__item
                            img(src="assets/img/step-2.png" role="presentation")
                            p.text.text--xl Смотри содержание, регистрируйся и покупай готовую работу
                        li.steps__item
                            img(src="assets/img/step-3.png" role="presentation")
                            p.text.text--xl Редактируй онлайн, сохраняй в Word, отправляй преподавателям
                    button.steps__button.button.button--blue.text.text--m(type="button") Сгенерировать работу

            section.solution
                .solution__inner.content-wrapper
                    .solution__content
                        .solution__heading-text.text.text--xl Подробная инструкция
                        h2.solution__heading.heading.heading--m Как написать курсовую работу с&nbsp;нейросетью
                        //- тут в дальнейшем будет видео
                        img.solution__video-plug(src="assets/img/solution_video.png")
                        ol.solution__list
                            li.solution__item.text.text--m.text--light Жили-были в далеком лесу три маленьких енота: Рыжик, Серый и Пушистик. Они были лучшими друзьями и всегда веселились вместе.
                            li.solution__item.text.text--m.text--light Однажды, когда они гуляли по лесу, они обнаружили загадочный ларец. Изнутри вылетела волшебная фея.
                            li.solution__item.text.text--m.text--light Рыжик сразу решился и загадал, чтобы весь лес был полон вкусных орехов.
                            li.solution__item.text.text--m.text--light Серый задумался и загадал, чтобы у всех животных в лесу было достаточно еды и тепла.
                        button.solution__button.button.button--blue.text.text--m(type="button") Сгенерировать работу

            - var tariffCards = [{label: 'Генерация 3-х работ', tip: 'Тут подсказкsadasdasdas dsd asd as dasа для карточки', price: '640' }, {label: 'Генерация 10-и работ', tip: 'Тут подсказка для карточки', price: '2500' },{label: 'Генерация 3-х работ', tip: 'Тут подсказка для карточки', price: '640' }]

            section.tariffs
                .tariffs__inner.content-wrapper
                    .tariffs__header-box
                        h2.tariffs__heading.heading.heading--m Выбери число генераций
                        .tariffs__toggler
                            input.tariffs__toggle-input.visually-hidden(type="radio" name="tariff" id="tariff_monthly" value="monthly" checked)
                            label.tariffs__toggle-button.button.tariffs__toggle-button--monthly(for="tariff_monthly")
                                span.text.text--m
                                | <span class="tariffs__toggle-button-desktop-text">Платить</span>&nbsp;ежемесячно
                            input.tariffs__toggle-input.visually-hidden(type="radio" name="tariff" id="tariff_annually" value="annually" aria-label="Выгоднее")
                            label.tariffs__toggle-button.button.tariffs__toggle-button--annually(for="tariff_annually")
                                span.text.text--m Оплатить на год
                    ul.tariffs__cards(role="list" data-js="monthlyCards")
                        each card in tariffCards 
                            li.tariffs__card
                                h3.tariffs__card-label
                                    span.tariffs__card-label-text.text.text--m #{card.label}
                                    .tooltip
                                        img(src="assets/img/question.svg")
                                        span Тут будет какая-то подсказка
                                .traiffs__price #{card.price}&nbsp;₽
                                ul.tariffs__card-list(role="list")  
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер один
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер два
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер три
                                button.tariffs__card-button.button.button--blue(type="button") Выбрать

                    ul.tariffs__cards(role="list" data-js="annuallyCards" data-hidden)
                        each card in tariffCards 
                            li.tariffs__card
                                h3.tariffs__card-label
                                    span.tariffs__card-label-text.text.text--m #{card.label}
                                    img(src="assets/img/question.svg" role="presentation")
                                    span.tariffs__card-label-tip #{card.tip}
                                .traiffs__price #{card.price}&nbsp;₽
                                ul.tariffs__card-list(role="list")  
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер один
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер два
                                    li.tariffs__card-list-item.text.text--m.text--light Выгода номер три
                                button.tariffs__card-button.button.button--blue(type="button") Выбрать

            - var works = [{name: 'Маркетинговый анализ деятельности фирмы', fileType: 'DOC', unique: '97.7', symbols: '1283'}, {name: 'Маркетинговый анализ фирмы', fileType: 'PDF', unique: '55', symbols: '300'}, {name: 'Анализвываываывавыаываываываываываываыва', fileType: 'EXL', unique: '100', symbols: '3'}, {name: 'Маркетинговый анализ фирмы', fileType: 'PDF', unique: '55', symbols: '300'}, {name: 'Анализвываываывавыаываываываываываываыва', fileType: 'EXL', unique: '100', symbols: '3'}];

            section.works
                .works__inner.content-wrapper
                    .works__content 
                        .works__heading-text.text.text--xl Написаны искусственным интеллектом
                        .works__swiper-header
                            h2.works__heading.heading.heading--m Примеры готовых работ
                            .works__swiper-controls
                                button.works__swiper-controls-button.works__swiper-controls-button--prev(aria-label="Предыдущая работа")
                                    img(src="assets/img/caret-right.svg" role="presentation")
                                button.works__swiper-controls-button.works__swiper-controls-button--next(aria-label="Следующая работа")
                                    img(src="assets/img/caret-right.svg" role="presentation")
                        .works__list.swiper(data-js="worksSwiper")
                            .swiper-wrapper
                                each work in works
                                    .works__item.swiper-slide
                                        h3.works__item-title.text.text--m #{work.name}
                                        .works__item-label.works__item-label--unique
                                            img(src="assets/img/like.png" role="presentation")
                                            .works__item-label-text.text.text--s.text--light #{work.unique}% антиплагиат
                                        .works__item-label
                                            img(src="assets/img/pen.png" role="presentation")
                                            .works__item-label-text.text.text--s.text--light #{work.symbols}&nbsp;<span>символов</span>
                                        .works__file.text.text--m #{work.fileType}

            - var subjectsAll = [{name: 'Математика', link: '#link'}, {name: 'Еще математика', link: '#link'}, {name: 'Естественный', link: '#link'}, {name: 'Еще естественный', link: '#link'}, {name: 'Гуманитарный', link: '#link'}, {name: 'Еще гуманитарный', link: '#link'}, {name: 'Популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}];
            - var subjectsTech = [{name: 'Математика', link: '#link'}, {name: 'Еще математика', link: '#link'}];
            - var subjectsNatural = [{name: 'Естественный', link: '#link'}, {name: 'Еще естественный', link: '#link'}];
            - var subjectsHumanitarian = [{name: 'Гуманитарный', link: '#link'}, {name: 'Еще гуманитарный', link: '#link'}];
            - var subjectsPopular = [{name: 'Популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}];

            section.listings(data-js="listings")
                .listings__inner.content-wrapper
                    h2.listings__heading.heading.heading--m Курсовые по другим предметам
                    form.search-form(action="#" method="get" data-js="listingsForm")
                        .search-form__field
                            input.search-form__input(type="text" maxlength="100" placeholder="Найти предмет" aria-label="Найти предмет" data-js="searchInput")
                            button.search-form__reset-btn(type="button" data-js="clearInput")
                                span.visually-hidden Очистить поле поиска
                                img(src="assets/img/close.svg" role="presentation")
                            .search-form__decor-loupe
                                img(src="assets/img/search.svg" role="presentation")
                    .listings__control(data-js="listingsTabButtons" role="tablist")
                        button.listings__category-button(type="button" tabindex="0" role="tab" aria-controls="all" aria-selected="true")
                            span.text.text--m Все&nbsp;предметы
                        button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="tech" aria-selected="false")
                            span.text.text--m Технические
                        button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="natural" aria-selected="false")
                            span.text.text--m Естественные
                        button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="humanitarian" aria-selected="false")
                            span.text.text--m Гуманитарные
                        button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="popular" aria-selected="false")
                            span.text.text--m Популярные

                    .listings__category-tabs(data-js="categoryTabsRoot")
                        .listings__category-tab(data-js="linksContainer" id="all" role="tabpanel" data-is-active)
                            ul.listings__subjects-list(role="list")
                                each subject in subjectsAll
                                    li.listings__subject
                                        a.listings__link.text.text--m.text--light(href=subject.link) #{subject.name}
                            button.listings__subjects-button.button.button--white(type="button") Показать еще 7 предмета

                        .listings__category-tab(data-js="linksContainer" id="tech" role="tabpanel")
                            ul.listings__subjects-list(role="list")
                                each subject in subjectsTech
                                    li.listings__subject
                                        a.listings__link.text.text--m.text--light(href=subject.link) #{subject.name}
                            button.listings__subjects-button.button.button--white(type="button") Показать еще 2 предмета

                        .listings__category-tab(data-js="linksContainer" id="natural" role="tabpanel")
                            ul.listings__subjects-list(role="list")
                                each subject in subjectsNatural
                                    li.listings__subject
                                        a.listings__link.text.text--m.text--light(href=subject.link) #{subject.name}
                            button.listings__subjects-button.button.button--white(type="button") Показать еще 23 предмета

                        .listings__category-tab(data-js="linksContainer" id="humanitarian" role="tabpanel")
                            ul.listings__subjects-list(role="list")
                                each subject in subjectsHumanitarian
                                    li.listings__subject
                                        a.listings__link.text.text--m.text--light(href=subject.link) #{subject.name}
                            button.listings__subjects-button.button.button--white(type="button") Показать еще 62 предмета

                        .listings__category-tab(data-js="linksContainer" id="popular" role="tabpanel")
                            ul.listings__subjects-list(role="list")
                                each subject in subjectsPopular
                                    li.listings__subject
                                        a.listings__link.text.text--m.text--light(href=subject.link) #{subject.name}
                            button.listings__subjects-button.button.button--white(type="button") Показать еще 124 предмета

            section.seo 
            .seo__inner.content-wrapper
                h2 SEO текст
                p Забудьте о трудоемком написании курсовых работ – наша нейросеть сделает это за вас, обеспечивая высокий уровень уникальности и качества. Воспользуйтесь удобным чат-ботом, который будет направлять вас в процессе написания.
                p Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                p Забудьте о трудоемком написании курсовых работ – наша нейросеть сделает это за вас, обеспечивая высокий уровень уникальности и качества. Воспользуйтесь удобным чат-ботом, который будет направлять вас в процессе написания.
                p Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.

                h2 SEO список
                ol
                    li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                    li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                    li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.

            - var footerSubjects = [{name: 'Алгебра', url: '#link'}, {name: 'Английский язык', url: '#link'}, {name: 'Анатомия', url: '#link'}, {name: 'Архитектура', url: '#link'}];
            - var footerTypes = [{name: 'Решение задач', url: '#link'}, {name: 'Рефераты', url: '#link'}, {name: 'Курсовые работы', url: '#link'}, {name: 'Доклады', url: '#link'}, {name: 'Эссе', url: '#link'}];
            - var footerAbout = [{name: 'Тарифы', url: '#link'}, {name: 'Оплата и реквизиты', url: '#link'}, {name: 'Политика возврата', url: '#link'}, {name: 'Контакты', url: '#link'}];
            - var paymentMethods = [{name: 'Visa', file: 'visa.svg'}, {name: 'MasterCard', file: 'mastercard.svg'}, {name: 'Мир', file: 'mir.svg'}, {name: 'ЮMoney', file: 'umoney.png'}, {name: 'Qiwi', file: 'qiwi.svg'}, {name: 'Система быстрых платежей', file: 'sbp.svg'}, {name: 'СберPay', file: 'sberpay.svg'}]

        footer.footer
            .footer__inner.content-wrapper 
                .footer__content
                    .footer__main
                        .footer__column
                            img.footer__logo(src="assets/img/logo-inverted.svg" alt="Логотип")
                            a.footer__link.footer__link--email.text(href="mailto:support@study.ai") support@study.ai
                            p.footer__schedule.text.text--m.text--light Пиши с&nbsp;10:00&nbsp;&dash; 19:30
                        .footer__column
                            h3.footer__list-title.text.text--m Курсовые по предметам
                            ul.footer__list(role="list")
                                each link in footerSubjects
                                    li.footer__list-item
                                        a.footer__link.text.text--m.text--light(href=`${link.url}` target="_blank") #{link.name}
                                li.footer__list-item
                                    a.footer__link.text.text--m.text--light(href="#" target="_blank") Все предметы
                        .footer__column
                            h3.footer__list-title.text.text--m Другие GPT инструменты
                            ul.footer__list(role="list")
                                each link in footerTypes
                                    li.footer__list-item
                                        a.footer__link.text.text--m.text--light(href=`${link.url}` target="_blank") #{link.name}
                        .footer__column.footer__column--about
                            h3.footer__list-title.text.text--m О сервисе
                            ul.footer__list(role="list")
                                each link in footerAbout
                                    li.footer__list-item
                                        a.footer__link.text.text--m.text--light(href=`${link.url}` target="_blank") #{link.name}
                    .footer__additional
                        p.footer__copyright.text.text--m.text--light 
                            | &copy;<span data-js="copyrightYear">2024</span>&nbsp;Все права защищены
                        a.footer__link.footer__link--privacy.text.text--m.text--light(href="#" target="_blank") Пользовательское соглашение
                        ul.footer__payment(role="list")
                            each payment in paymentMethods
                                li.footer__payment-item
                                    img(src=`assets/img/${payment.file}`, alt=`${payment.name}`)

        //- .modal.modal--signup(role="dialog" data-is-open="false")
        //-     .modal__content 
        //-         button.modal__close-button(type="button")
        //-             img(src="assets/img/close.svg")
        //-         .modal__heading.text.text--m Зарегистрироваться
        //-         .modal__title Зарегистрируйся, чтобы увидеть решение задачи
        //-         form.modal__form(action="#" method="post")
        //-             input.modal__form-input.text.text--m.text--light(type="email" name="email" placeholder="Email" required)
        //-             input.modal__form-input.text.text--m.text--light(type="password" name="password" placeholder="Пароль" required)
        //-             input.modal__form-input.text.text--m.text--light(type="password" name="confirm_password" placeholder="Повтори пароль" required)
        //-             button.modal__form-button.button.button--blue Зарегистрироваться

        //- .modal.modal--login(role="dialog" data-is-open="false")
        //-     .modal__content 
        //-         button.modal__close-button(type="button")
        //-             img(src="assets/img/close.svg")
        //-         .modal__heading.text-text--m Войти
        //-         .modal__title Войди в аккаунт, чтобы увидеть решение задачи
        //-         form.modal__form(action="#" method="post")
        //-             input.modal__form-input.text--m.text--light(type="email" name="email" placeholder="Email" required)
        //-             input.modal__form-input.text--m.text--light(type="password" name="password" placeholder="Пароль" required)
        //-             button.modal__form-button.button.button--blue Войти
        //-             a.modal__form-remind-link.button.button--clear(href="#" target="_blank") Забыл пароль?

        //- .modal.modal--login(role="dialog" data-is-open="false")
        //-     .modal__content 
        //-         button.modal__close-button(type="button")
        //-             img(src="assets/img/close.svg")
        //-         .modal__heading.text-text--m Войти
        //-         .modal__title Войди в аккаунт, чтобы увидеть полную курсовую
        //-         form.modal__form(action="#" method="post")
        //-             input.modal__form-input.text--m.text--light(type="email" name="email" placeholder="Email" required)
        //-             input.modal__form-input.text--m.text--light(type="password" name="password" placeholder="Пароль" required)
        //-             button.modal__form-button.button.button--blue Войти
        //-             a.modal__form-remind-link.button.button--clear(href="#" target="_blank") Забыл пароль?

        //- .modal.modal--signup(role="dialog" data-is-open="false")
        //-     .modal__content 
        //-         button.modal__close-button(type="button")
        //-             img(src="assets/img/close.svg")
        //-         .modal__heading.text.text--m Зарегистрироваться
        //-         .modal__title Зарегистрируйся, чтобы увидеть полную курсовую
        //-         form.modal__form(action="#" method="post")
        //-             input.modal__form-input.text.text--m.text--light(type="email" name="email" placeholder="Email" required)
        //-             input.modal__form-input.text.text--m.text--light(type="password" name="password" placeholder="Пароль" required)
        //-             input.modal__form-input.text.text--m.text--light(type="password" name="confirm_password" placeholder="Повтори пароль" required)
        //-             button.modal__form-button.button.button--blue Зарегистрироваться


        script(src="js/main.min.js" type="module")