doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        meta(name="description" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.header
            div.header__inner.content-wrapper
                img(class="header__logo" src="assets/img/logo.svg" alt="Логотип")
                div.header__auth
                    button(class="header__login button button--clear text text--m" type="button") Войти<span>&nbsp;в аккаунт</span>
                    button(class="header__signup button button--blue text text--m" type="button") Зарегистрироваться
        main.main
            //- экран "Напиши курсовую с нейросетью за 5 минут"
            section.hero.hero--work
                div.hero__inner.content-wrapper
                    h1.hero__heading.heading.heading--l Напиши курсовую <br> с&nbsp;нейросетью <mark>за&nbsp;5&nbsp;минут</mark>
                    p.hero__text.text.text--l Генерируй содержание, получай готовую работу и&nbsp;редактируй онлайн!

            section.steps
                div.steps__inner.content-wrapper
                    h2.steps__heading.heading.heading--m Написание курсовой&nbsp;&mdash; это просто!
                    ul(class="steps__list" role="list") 
                        li.steps__item
                            img(src="assets/img/step-1.png" role="presentation")
                            p.text.text--xl Напиши тему работы и нажми «Сгенерировать»
                        li.steps__item
                            img(src="assets/img/step-2.png" role="presentation")
                            p.text.text--xl Смотри содержание, регистрируйся и покупай готовую работу
                        li.steps__item
                            img(src="assets/img/step-3.png" role="presentation")
                            p.text.text--xl Редактируй онлайн, сохраняй в Word, отправляй преподавателям
                    button(class="steps__button button button--blue text text--m" type="button") Сгенерировать работу

            section.solution
                div.solution__inner.content-wrapper
                    div.solution__content
                        div.solution__heading-text.text.text--xl Подробная инструкция
                        h2.solution__heading.heading.heading--m Как написать курсовую работу с&nbsp;нейросетью
                        //- тут в дальнейшем будет видео
                        img(class="solution__video-plug" src="assets/img/solution_video.png")
                        ol(class="solution__list")
                            li.solution__item.text.text--m.text--light Жили-были в далеком лесу три маленьких енота: Рыжик, Серый и Пушистик. Они были лучшими друзьями и всегда веселились вместе.
                            li.solution__item.text.text--m.text--light Однажды, когда они гуляли по лесу, они обнаружили загадочный ларец. Изнутри вылетела волшебная фея.
                            li.solution__item.text.text--m.text--light Рыжик сразу решился и загадал, чтобы весь лес был полон вкусных орехов.
                            li.solution__item.text.text--m.text--light Серый задумался и загадал, чтобы у всех животных в лесу было достаточно еды и тепла.
                        button(class="solution__button button button--blue text text--m" type="button") Сгенерировать работу

            - var works = [{name: 'Маркетинговый анализ деятельности фирмы', fileType: 'DOC', unique: '97.7', symbols: '1283'}, {name: 'Маркетинговый анализ фирмы', fileType: 'PDF', unique: '55', symbols: '300'}, {name: 'Анализвываываывавыаываываываываываываыва', fileType: 'EXL', unique: '100', symbols: '3'}, {name: 'Маркетинговый анализ фирмы', fileType: 'PDF', unique: '55', symbols: '300'}, {name: 'Анализвываываывавыаываываываываываываыва', fileType: 'EXL', unique: '100', symbols: '3'}];

            section.works
                div.works__inner.content-wrapper
                    div.works__content 
                        div.works__heading-text.text.text--xl Написаны искусственным интеллектом
                        div.works__swiper-header
                            h2.works__heading.heading.heading--m Примеры готовых работ
                            div.works__swiper-controls
                                button(class="works__swiper-controls-button works__swiper-controls-button--prev" aria-label="Предыдущая работа")
                                    img(src="assets/img/caret-right.svg" role="presentation")
                                button(class="works__swiper-controls-button works__swiper-controls-button--next" aria-label="Следующая работа")
                                    img(src="assets/img/caret-right.svg" role="presentation")
                        div(class="works__list swiper" data-js="worksSwiper")
                            div.swiper-wrapper
                                each work in works
                                    div.works__item.swiper-slide
                                        h3.works__item-title.text.text--m #{work.name}
                                        div.works__item-label.works__item-label--unique
                                            img(src="assets/img/like.png" role="presentation")
                                            div.works__item-label-text.text.text--s.text--light #{work.unique}% антиплагиат
                                        div.works__item-label
                                            img(src="assets/img/pen.png" role="presentation")
                                            div.works__item-label-text.text.text--s.text--light #{work.symbols}&nbsp;<span>символов</span>
                                        div.works__file.text.text--m #{work.fileType}

            section.seo 
                div.seo__inner.content-wrapper
                    h2 SEO текст
                    p Забудьте о трудоемком написании курсовых работ – наша нейросеть сделает это за вас, обеспечивая высокий уровень уникальности и качества. Воспользуйтесь удобным чат-ботом, который будет направлять вас в процессе написания.
                    p Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                    p Забудьте о трудоемком написании курсовых работ – наша нейросеть сделает это за вас, обеспечивая высокий уровень уникальности и качества. Воспользуйтесь удобным чат-ботом, который будет направлять вас в процессе написания.
                    p Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.

                    h2 SEO список
                    ol
                        li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                        li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.
                        li Наши пользователи не только экономят свое время и усилия, но и получают тексты, соответствующие всем требованиям научных работ. Сервис обеспечивает возможность не только написания, учитывая специфику каждой темы, но и редактирования текстов. Создайте свою курсовую легко, быстро и качественно с нашим сервисом.

        - var footerSubjects = [{name: 'Алгебра', url: '#link'}, {name: 'Английский язык', url: '#link'}, {name: 'Анатомия', url: '#link'}, {name: 'Архитектура', url: '#link'}];
        - var footerTypes = [{name: 'Решение задач', url: '#link'}, {name: 'Рефераты', url: '#link'}, {name: 'Курсовые работы', url: '#link'}, {name: 'Доклады', url: '#link'}, {name: 'Эссе', url: '#link'}];
        - var footerAbout = [{name: 'Тарифы', url: '#link'}, {name: 'Оплата и реквизиты', url: '#link'}, {name: 'Политика возврата', url: '#link'}, {name: 'Контакты', url: '#link'}];
        - var paymentMethods = [{name: 'Visa', file: 'visa.svg'}, {name: 'MasterCard', file: 'mastercard.svg'}, {name: 'Мир', file: 'mir.svg'}, {name: 'ЮMoney', file: 'umoney.png'}, {name: 'Qiwi', file: 'qiwi.svg'}, {name: 'Система быстрых платежей', file: 'sbp.svg'}, {name: 'СберPay', file: 'sberpay.svg'}]

        footer.footer
            div.footer__inner.content-wrapper 
                div.footer__content
                    div.footer__main
                        div.footer__column
                            img(class="footer__logo" src="assets/img/logo-inverted.svg" alt="Логотип")
                            a(class="footer__link footer__link--email text" href="mailto:support@study.ai") support@study.ai
                            p.footer__schedule.text.text--m.text--light Пиши с&nbsp;10:00&nbsp;&dash; 19:30
                        div.footer__column
                            h3.footer__list-title.text.text--m Курсовые по предметам
                            ul(class="footer__list" role="list")
                                each link in footerSubjects
                                    li.footer__list-item
                                        a(class="footer__link text text--m text--light" href=`${link.url}` target="_blank") #{link.name}
                                li.footer__list-item
                                    a(class="footer__link text text--m text--light" href="#" target="_blank") Все предметы
                        div.footer__column
                            h3.footer__list-title.text.text--m Другие GPT инструменты
                            ul(class="footer__list" role="list")
                                each link in footerTypes
                                    li.footer__list-item
                                        a(class="footer__link text text--m text--light" href=`${link.url}` target="_blank") #{link.name}
                        div.footer__column.footer__column--about
                            h3.footer__list-title.text.text--m О сервисе
                            ul(class="footer__list" role="list")
                                each link in footerAbout
                                    li.footer__list-item
                                        a(class="footer__link text text--m text--light" href=`${link.url}` target="_blank") #{link.name}
                    div.footer__additional
                        p(class="footer__copyright text text--m text--light") &copy;<span data-js="copyrightYear">2024</span>&nbsp;Все права защищены
                        a(class="footer__link footer__link--privacy text text--m text--light" href="#" target="_blank") Пользовательское соглашение
                        ul(class="footer__payment" role="list")
                            each payment in paymentMethods
                                li.footer__payment-item
                                    img(src=`assets/img/${payment.file}`, alt=`${payment.name}`)

        script(src="js/main.min.js")