- var subjectsAll = [{name: 'Математика', link: '#link'}, {name: 'Еще математика', link: '#link'}, {name: 'Естественный', link: '#link'}, {name: 'Еще естественный', link: '#link'}, {name: 'Гуманитарный', link: '#link'}, {name: 'Еще гуманитарный', link: '#link'}, {name: 'Популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}];
- var subjectsTech = [{name: 'Математика', link: '#link'}, {name: 'Еще математика', link: '#link'}];
- var subjectsNatural = [{name: 'Естественный', link: '#link'}, {name: 'Еще естественный', link: '#link'}];
- var subjectsHumanitarian = [{name: 'Гуманитарный', link: '#link'}, {name: 'Еще гуманитарный', link: '#link'}];
- var subjectsPopular = [{name: 'Популярный', link: '#link'}, {name: 'Еще популярный', link: '#link'}];

section.listings(data-js="listings")
    .listings__inner.content-wrapper
        h2.listings__heading.heading.heading--m Курсовые по другим предметам
        form.search-form(action="#" method="get" data-js="listingsForm")
            .search-form__field
                input.search-form__input(type="text" maxlength="100" placeholder="Найти предмет" aria-label="Найти предмет" data-js="searchInput")
                button.search-form__reset-btn(type="button" data-js="clearInput")
                    span.visually-hidden Очистить поле поиска
                    img(src="assets/img/close.svg" role="presentation")
                .search-form__decor-loupe
                    img(src="assets/img/search.svg" role="presentation")
        .listings__control(data-js="listingsTabButtons" role="tablist")
            button.listings__category-button(type="button" tabindex="0" role="tab" aria-controls="all" aria-selected="true")
                span.text.text--m Все&nbsp;предметы
            button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="tech" aria-selected="false")
                span.text.text--m Технические
            button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="natural" aria-selected="false")
                span.text.text--m Естественные
            button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="humanitarian" aria-selected="false")
                span.text.text--m Гуманитарные
            button.listings__category-button(type="button" tabindex="-1" role="tab" aria-controls="popular" aria-selected="false")
                span.text.text--m Популярные

        .listings__category-tabs(data-js="categoryTabsRoot")
            .listings__category-tab(data-js="linksContainer" id="all" role="tabpanel" data-is-active)
                ul.listings__subjects-list(role="list")
                    each subject in subjectsAll
                        li.listings__subject
                            a.link.text.text--m.text--light(href=subject.link) #{subject.name}
                button.listings__subjects-button.button.button--white(type="button") Показать еще 7 предмета

            .listings__category-tab(data-js="linksContainer" id="tech" role="tabpanel")
                ul.listings__subjects-list(role="list")
                    each subject in subjectsTech
                        li.listings__subject
                            a.link.text.text--m.text--light(href=subject.link) #{subject.name}
                button.listings__subjects-button.button.button--white(type="button") Показать еще 2 предмета

            .listings__category-tab(data-js="linksContainer" id="natural" role="tabpanel")
                ul.listings__subjects-list(role="list")
                    each subject in subjectsNatural
                        li.listings__subject
                            a.link.text.text--m.text--light(href=subject.link) #{subject.name}
                button.listings__subjects-button.button.button--white(type="button") Показать еще 23 предмета

            .listings__category-tab(data-js="linksContainer" id="humanitarian" role="tabpanel")
                ul.listings__subjects-list(role="list")
                    each subject in subjectsHumanitarian
                        li.listings__subject
                            a.link.text.text--m.text--light(href=subject.link) #{subject.name}
                button.listings__subjects-button.button.button--white(type="button") Показать еще 62 предмета

            .listings__category-tab(data-js="linksContainer" id="popular" role="tabpanel")
                ul.listings__subjects-list(role="list")
                    each subject in subjectsPopular
                        li.listings__subject
                            a.link.text.text--m.text--light(href=subject.link) #{subject.name}
                button.listings__subjects-button.button.button--white(type="button") Показать еще 124 предмета